<tr id='<%= "book_#{book.id}" %>'>
  <td class="wider"><%= book.title %></td>
  <td class="wide"><%= book.author.name if book.author %></td>
  <td class="tight"><%= l book.released_date, format: :short if book.released_date %></td>
  <td class="tight">
    <div class="rateit" data-rateit-value="<%= book.rating %>" data-rateit-ispreset="true" data-rateit-readonly="true"></div></td>
  <td <%= "class=avail" if book.available %>></td>
  <td><%= link_to image_tag("/assets/icons/action_save.gif"), edit_book_path(book) %>
  <%= link_to image_tag("/assets/icons/action_stop.gif"), book, class: 'delete', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
</tr>