nav.leaf-menu {
  width: 50%;
  height: 80px;
  text-align: center;
}
nav.leaf-menu a {
  padding: 0px;
  background: none;
  &:link, &:hover, &:visited, &:hover, &:active {
    background: none;
  }
}

nav.leaf-menu li {
  display: inline-block;
  text-align: center;
  margin: 0px 15px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

nav.leaf-menu li:hover {
  margin: 10px 5px;
}

nav.leaf-menu li:active {
  margin: 10px 13px;
}

nav.leaf-menu li a {
  width: 100px;
  height: 100px;
  z-index: 9999;
  position: absolute;
  top: 35px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 9px 11px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

nav.leaf-menu li:active a {
  font-size: 26px;
  top: 30px;
  text-shadow: none;
}

nav.leaf-menu li div {
  width: 100px;
  height: 100px;
  display: block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-top-left-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-bottomright: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

nav.leaf-menu li:hover div {
  -webkit-border-top-left-radius: 80px;
  -webkit-border-bottom-right-radius: 80px;
  -moz-border-radius-topleft: 80px;
  -moz-border-radius-bottomright: 80px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

nav.leaf-menu li:active div {
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
#red { background: #E42B2B; }
#green { background: #41D05F; }
#blue { background: #49a7f3; }
#orange { background: #ff8400; }
#purple { background: #a800ff; }